[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ratish197
[access "refs/for/refs/*"]
	read = group user/ratish197
	push = group user/ratish197
	label-Code-Review = -2..+2 group user/ratish197
	label-Verified = -1..+1 group user/ratish197
	rebase = group user/ratish197
	removeReviewer = group user/ratish197
	submit = group user/ratish197
[access "refs/heads/*"]
	read = group user/ratish197
	create = group user/ratish197
	push = +force group user/ratish197
	pushMerge = group user/ratish197
[access "refs/tags/*"]
	push = +force group user/ratish197
	pushTag = group user/ratish197
	pushSignedTag = group user/ratish197
